@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.create-workspace-btn-container {
    width: 100%;
}

.create-workspace-btn {
    font-family: 'Roboto';
    cursor: pointer;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    padding: 50px;
    width: fit-content;
    background-color: #e5e7eb;
    font-size: 20px;
}
.dark-theme .create-workspace-btn{
    border: 1px solid white !important;
    background-color: #444444;
}

.create-workspace-btn:hover {
    background-color: #d1d3d7;
    color: black;
}
