.chatWindowTextArea {
    resize: none;
    border-bottom: none !important;
    color: black !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.chatWindowTextArea:focus,
.chatWindowTextArea:hover {
    border-color: #E07E65 !important;
    box-shadow: none !important;
}

.chatWindowButtonSelected,
.chatWindowButtonComponent:hover {
    background-color: #E07E65;
    color: white;
    border-radius: 10px;
}

.chatWindowTextBottom {
    border: 1px solid #d9d9d9;
    border-top: none;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.chatWindowDivFocused {
    border: 1px solid #E07E65;
    border-radius: 6px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.chatSuggestions {
    margin-top: 1rem;
    width: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.suggestion {
    padding: 0.5rem 1rem;
    border: 1px solid #E07E65;
    border-radius: 1rem;
    cursor: pointer;
}

.suggestion:hover,
.activeSuggestion {
    background-color: #E07E65;
    color: white;
}